# node
node_modules
npm-debug.log
package-lock.json

# yarn
yarn.lock
yarn-error.log

# webstorm
.idea

# ignore
.npmignore
.eslintignore
.gitignore

# packages
src
tests
example
.babelrc
babel.config.js
.editorconfig
.eslintrc.yml
.eslintrc.js
.lintstagedrc.yml
webpack.config.babel.js

.DS_Store