# node
node_modules
npm-debug.log
package-lock.json

# yarn
yarn.lock
yarn-error.log
.yarn/*
.pnp.cjs
.yarnrc.yml

# webstorm
.idea

# ignore
.npmignore
.eslintignore
.gitignore
.gitattributes

# packages
src
tests
test
example
.husky
.babelrc
babel.config.js
.editorconfig
.eslintrc.yml
.eslintrc.js
.eslintrc.cjs
.lintstagedrc.yml
webpack.config.babel.js
webpack.config.js
tsconfig.json

.DS_Store